.DS_Store
.build/
.swiftpm/
DerivedData/
dist/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdata/
*.xcuserstate
*.xcscmblueprint
.aider.chat.history.md
.aider.input.history
.aider.tags.cache*/
.env
